   /*
 * Base structure
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,500italic,500);

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #D1D1D1;
	box-shadow: 0px 0px 5px 0px rgb(175, 175, 175);
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #2278C2;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.member-list {
	border: 1px solid rgb(228, 228, 228);
}

.member-list tr th {
	border: 1px solid rgb(228, 228, 228);
	padding: 10px;
	text-align: center;
}

.member-list tr td {
	border: 1px solid rgb(228, 228, 228);
	padding: 10px;
	text-align: center;
}

.nav>li>a:hover, .nav>li>a:focus {
	background: #428bca;
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #000;
	background-color: #fff;
}

.heading {
	padding: 10px 9px;
	border: 1px solid 1px solid rgb(219, 219, 219);
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    color: #5E5E5E;
}

.container-fluid {
	background: #4ea8ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #4ea8ed 0%, #236ea8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ea8ed), color-stop(100%,#236ea8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4ea8ed 0%,#236ea8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4ea8ed 0%,#236ea8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4ea8ed 0%,#236ea8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4ea8ed 0%,#236ea8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea8ed', endColorstr='#236ea8',GradientType=0 ); /* IE6-9 */
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.main {
	background: #fff;
}

.navbar-inverse .navbar-collapse {
	border-bottom: 1px solid;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.table-apps tr th {
	text-align: center;
}

.table-apps tr td {
	text-align: center;
}

.tabhead {
	font-weight: bold;
	font-size: 16px;
}

.table-view-apps {
	width: 450px;
	float: left;
}

.table-view-apps-margin20 {
	margin-left: 15px;
}

.table-view-apps tr td {
	text-align: left;
}

.nav-sidebar > .active > a {
	background: #428bca;
	color: #fff;
}

.btn-vote {
	margin-left: 170px;
}

.no-margin {
	margin: 0 !important;
}   